<div class="row">
  <div class="col-12 mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" routerLink="/customize">Back</li>
      </ol>
    </nav>
  </div>
  <div class="col-12 mt-4">
    <h1>{{this.time.countdown}}</h1>
    <h1>{{this.time.stopwatch}}</h1>
  </div>
  <div class="col-12 mt-4">
    <h1 class="text-center" style="min-height: 150px;">{{this.randomReps}} x</h1>
    <h2 class="text-center" style="min-height: 150px;">{{this.wodName}}</h2>
  </div>
  <div class="col-12 mt-4">
    <button class="btn btn-primary btn-block btn-lg"
            (click)="generateRandomWOD()">
      Next Set
    </button>
  </div>
</div>
