<div class="row row-cols-1" #confetti>
  <div class="col">
    <p>WOD Type:: {{wodType}}</p>
  </div>
  <div class="col">
    <h1 style="font-size: 12vw;" class="text-center font-monospace">
      <b>
        <app-timer
          [duration]="determineWodDuration()"
          (timerStateCompleted)="timerStateCompleted()"
        ></app-timer>
      </b>
    </h1>
  </div>
  <div class="col mt-4">
    <button class="btn btn-primary btn-block btn-lg"
            [disabled]="wodComplete"
            (click)="startWorkout()">
      {{(appTimer.pausedState) ? 'start' : 'pause'}}
    </button>
  </div>
  <div class="col mt-4">
    <p>Upcoming:</p>
    <h4>{{wodNameUpcoming}}</h4>
  </div>
  <div class="col mt-4">
    <h1 style="font-size: 15vw;" class="text-center">{{this.randomReps}} reps</h1>
    <h2 style="font-size: 15vw;" class="text-center">{{this.wodName}}</h2>
  </div>
  <div class="col mt-4">
    <div [ngStyle]="{
           'visibility':wodPercent>0?'visible':'hidden'
         }" class="progress">
      <div class="progress-bar" role="progressbar"
           [ngStyle]="{
             'width.%':wodPercent
           }">
        {{wodPercent}}%
      </div>
    </div>
  </div>
  <div class="col mt-4">
    <h3 class="text-center">Sets done: {{wodSetsDone}}</h3>
  </div>
  <div class="col-4 mt-4">
    <div class="d-grid">
      <button class="btn btn-primary btn-block btn-lg" routerLink="/customize">Back</button>
    </div>
  </div>
  <div class="col-4 mt-4">
    &nbsp;
  </div>
  <div class="col-4 mt-4">
    <div class="d-grid">
      <button class="btn btn-primary btn-block btn-lg"
              [disabled]="appTimer.isCountdown||appTimer.pausedState"
              *ngIf="!wodComplete"
              (click)="fetchNextMovement()">
        Done
      </button>
      <button class="btn btn-primary btn-block btn-lg"
              *ngIf="wodComplete"
              (click)="exitWorkout()">
        Home
      </button>
    </div>
  </div>
</div>
