<div class="ro">
  <div class="col-12">
    <h1>Movements</h1>
  </div>
  <div class="col-12 mt-4">
    <div class="customize-component--listing row">
      <div *ngFor="let choice of listSelectables(); let i = index"
           class="customize-component--listing-item col-12 mt-2">
        <div class="form-check form-switch">
          <input (click)="setWodSelection($event,choice)" class="form-check-input"
                 [checked]="choice.checked"
                 type="checkbox" id="{{'choice'+i}}">
          <label class="form-check-label" for="{{'choice'+i}}">{{choice.name}}</label>
        </div>
      </div>
    </div>
  </div><!-- col-12 -->
  <div class="col-12 mt-4">
    <div [ngStyle]="{
           'visibility':selectionPercentage()>0?'visible':'hidden'
         }" class="progress">
      <div class="progress-bar" role="progressbar"
           [ngStyle]="{
             'width.%':selectionPercentage()
           }">
        {{selectionPercentage()}}%
      </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-primary btn-block btn-lg" routerLink="/start">Back</button>
      <button class="btn btn-primary btn-block btn-lg"
              [disabled]="!(formValues.wodTypesSelectablesCount>=formValues.wodMinimumMovements)"
              (click)="routeToWorkout()">
        Start
      </button>
    </div>
  </div>
</div>
